*{
    margin: 0;
    padding: 0;
}

html{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#contenedor{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.header{
    background: cornflowerblue;
    color: white;
    height: 60px;
    margin-bottom: 10px;
}

.logo{
    text-transform: uppercase;
}

.logo a{
    text-decoration: none;
    color: white;
}

.navbar{
    background: blue;
    color: white;
}

.navbar ul{
    list-style-type: none;
    text-align: right;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}

.navbar ul li{
    display: none;
}

.navbar:hover ul li{
    display: block;
}

.navbar ul li a:hover{
    background: lightgreen;
    /* display: block; */
}

.bodymain{
    display: relative;
    background: grey;
    width: 800px;
      /*   border: 2px solid red; */
}

.destacado1{
background: beige;
width: auto;
margin: 0 10px 10px;
padding-top: 10px;
}

.destacado2{
    position: relative;
    background: beige;
    width: auto;
    height: 500px;
    margin: 10px;
}
.box1{
/*     padding: 10px;
 */ width: 50%;
    position: absolute;
    margin: 5px;
    top: 0;
    left: 0;
   /*  border: 2px solid blue; */
}

.box2{
/*     padding: 10px;
 */ width: 50%;
    position: absolute;
    margin: 5px;
    top: 0;
    right: 0;
    /* border: 2px solid blue; */
}

.box3{
/*     padding: 10px;*/
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    /* border: 2px solid blue; */
}

.box4{
/*     padding: 10px;
 */ width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    /* border: 2px solid blue; */
}

.main{
    position: relative;
}

.aside{
    position: absolute;
    background: lightgrey;
    height: 200px;
    width: 100px;
    top: 0;
    right: 0;
    padding: 10px;
}

.footer{
    text-align: center;
    background: lightblue;
    padding: 10px;
}