*{
    margin: 0;
    padding: 0;
}

html{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#contenedor{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.header{
    background: cornflowerblue;
    color: white;
    height: 60px;
    margin-bottom: 10px;
}

.logo{
    text-transform: uppercase;
}

.logo a{
    text-decoration: none;
    color: white;
}

.navbar ul{
    list-style-type: none;
    text-align: right;
    background: blue;
}

.navbar ul li a{
    text-decoration: none;
    display: block;
    color: white;
}

.navbar ul li a:hover{
    background: lightgreen;
}

.bodymain{
    background: grey;
}

.destacado1{
    background: beige;
width: 97%;
margin: auto;
margin-bottom: 10px;
}

.destacado2{
    background: beige;
    width: 97%;
    margin: auto;
    margin-bottom: 10px;
}
.box1{
    width: 50%;
    position: top left;
}

.box2{
    width: 50%;
}